annotated-types==0.8.0
asgiref==3.12.1
Django==6.1.1
django-cors-headers==4.9.0
django-ninja==1.7.1
django-stubs==6.1.2
django-stubs-ext==6.1.2
djangorestframework==3.18.1
djangorestframework-stubs==3.18.1
psycopg==3.3.6
psycopg-binary==3.3.6
pydantic==2.13.5
pydantic_core==2.46.5
sqlparse==0.6.0
types-PyYAML==6.0.12.20260906
typing-inspection==0.4.4
typing_extensions==4.16.0
